@import '../common/common.css'
@import '../common/elements/x-tab.css'

html
	height: unset

x-tab
	display: flex
	align-items: center

x-page
	background-color: #f9f9fa
	padding: 8px
	display: flex
	flex-direction: column

	> *
		margin-bottom: 4px

.input-label
	input[type='text'], input:not([type])
		width: 12ch

	input[type='number']
		width: 12ch

hr
	margin-block-start: 1em 0 0 0
	border: none

#icon-color-details
	&:not(.visible)
		visibility: hidden

	> *
		vertical-align: middle

	> input[type='number']
		width: 6.5ch
		margin-right: 2px

.contents-label
	display: contents

	> *
		vertical-align: middle

#configure-monitor-builtin-actions
	padding-inline-start: 4ch

	a:not(:last-of-type)
		margin-inline-end: 2ch

#custom-css-links :not(:last-child)
	margin-right: 1ch