@import '../common/common.css'
@import '../common/elements/x-tab.css'

html
	height: unset

x-tab
	display: flex
	align-items: center

x-page
	background-color: #f9f9fa
	padding: 8px
	display: flex
	flex-direction: column

	> *
		margin-bottom: 4px

.input-label
	input[type='text'], input:not([type])
		width: 16ch

	input[type='number']
		width: 16ch

hr
	margin-block-start: 1em 0 0 0
	border: none

#icon-color-details
	&:not(.visible)
		visibility: hidden

	> *
		vertical-align: middle

	> input[type='number']
		width: 6.5ch
		margin-right: 2px

.contents-label
	display: contents

	> *
		vertical-align: middle

#configure-monitor-builtin-actions
	padding-inline-start: 4ch

	a:not(:last-of-type)
		margin-inline-end: 2ch

#custom-css-links :not(:last-child)
	margin-right: 1ch

#auto-import-container
	position: fixed
	z-index: 11
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.4)
	display: flex
	align-items: center
	justify-content: center

#auto-import
	width: 80%
	height: 80%
	background: #f9f9fa
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5)
	display: flex
	flex-direction: column

#auto-import-header
	display: flex
	align-items: center
	padding: 8px
	border-bottom: 1px solid lightgray

#close-auto-import
	padding: 6px
	min-width: unset
	margin-right: 2ch

	.icon
		width: 1em
		height: 1em

#auto-import-ext-list
	background: white
	flex: 1
	border-bottom: 1px solid lightgray
	overflow: auto
	display: flex
	flex-direction: column
	padding: 4px

#auto-import-ext-desc
	padding: 6px

auto-import-ext-item
	margin-bottom: 4px