extensionName:
	message: 'Multithreaded Download Manager'
extensionDescription:
	message: 'Download manager with multithreaded support.'
pause:
	message: 'Pause'
stop:
	message: 'Stop'
start:
	message: 'Start'
openFileButton:
	message: 'Open file \nShift: Open containing folder'
edit:
	message: 'Edit'
copyLinkButton:
	message: 'Copy download link \nShift: Open referrer page'
deleted:
	message: 'Deleted'
removeButton:
	message: 'Remove \nShift: Delete file'
preallocating:
	message: 'Preallocating'
emptyTasks:
	message: 'There is no download task.'
noStorageAccess:
	message: 'Cannot access internal storage.'
createDownload:
	message: 'Create a download task'
importDownload:
	message: 'Import tasks from the built-in download list'
options:
	message: 'Options'
openInNewTab:
	message: 'Open in new tab'
openInNewWindow:
	message: 'Open in new window'
editURL:
	message: 'Download:'
editURLWarning:
	message: 'Caution: Changing the downloads location to different content will corrupt it.'
editFilename:
	message: 'Filename:'
editReferrer:
	message: 'Referring page:'
maxThreads:
	message: 'Threads:'
minChunkSize:
	message: 'Minimal chunk:'
maxRetries:
	message: 'Maximum retries:'
OK:
	message: 'OK'
cancel:
	message: 'Cancel'
download:
	message: 'Download'
continueInBrowser:
	message: 'Continue in browser'
browserDownloadError:
	message: 'Failed to save file: ($1)'
browserDownloadErased:
	message: 'File save was canceled'
threadStopped:
	message: 'Download thread stopped unexpectedly'
unsuccessfulResponse:
	message: 'Server error ($1 $2)'
rangesNotSupported:
	message: 'Server does not support multithreaded downloads ($1)'
networkError:
	message: 'Network error'
unknownError:
	message: 'Unknown error ($1)'
showCompleted:
	message: 'Show completed download items'
removeAfterImport:
	message: 'Remove the original items after import'
downloadWith:
	message: 'Download with $1'
unsupportedURL:
	message: 'Unsupported download address: $1'
confirmPauseIsStop:
	message: 'This download cannot be resumed. Abort?'
confirmDeleteFile:
	message: 'Delete downloaded file?'
confirmRemove:
	message: 'Remove current unfinished download?'
general:
	message: 'General'
saveFileTo:
	message: 'Save files to:'
downloadFolder:
	message: 'Download folder'
alwaysAsk:
	message: 'Always ask?'
skipFirstSavingAttempt:
	message: 'The first saving attempt was problematic and should be skipped'
workaroundBlankPopup:
	message: 'Fix the problem with blank extension windows'
readMore:
	message: 'Read more'
interface:
	message: 'Interface'
iconColor:
	message: 'Icon:'
systemDefaultAfterRestart:
	message: 'System default (Restart to take effect)'
dark:
	message: 'dark'
darker:
	message: 'darker'
black:
	message: 'black'
light:
	message: 'light'
lighter:
	message: 'lighter'
white:
	message: 'white'
altIcon1:
	message: '1'
altIcon2:
	message: '2'
altIcon3:
	message: '3'
altIcon4:
	message: '4'
showOnBadge:
	message: 'Show on the extension icon:'
badgeTypeNone:
	message: 'None'
badgeTypeNumber:
	message: 'Number of running tasks'
hideBadgeZero:
	message: 'Hide the number on the icon after all tasks are completed'
addContextMenuToLink:
	message: 'Add a context menu to links'
windowPosition:
	message: 'Position of extension window:'
systemDefault:
	message: 'system default'
parentCenter:
	message: 'center of the current window'
rememberLast:
	message: 'remember the last value'
windowSize:
	message: 'Size of extension window:'
newTaskAtTop:
	message: 'Show new tasks at the top'
removeCompletedTasksOnStart:
	message: 'Remove completed tasks on browser start'
showOptionsInDedicatedTab:
	message: 'Show the options page in a dedicated tab'
monitorDownload:
	message: 'Monitor download'
monitorDownloadDesc:
	message: 'Automatically prompt for download'
monitorDownloadMinSize:
	message: 'Disable for files smaller than:'
autoCloseBlankTab:
	message: 'Automatically close blank tabs when downloading'
defaultNetworkOptions:
	message: 'Default network options'
legacyFilenameDetection:
	message: 'Filename detection for legacy websites'
legacyFilenameEncoding:
	message: 'Encoding:'
legacyFilenameDetectUTF8:
	message: 'Detect UTF-8'
legacyFilenameDetectURLEncoded:
	message: 'Detect percent encoding (e.g. %20)'
legacyFilenameDetectNonStandardURLEncoded:
	message: 'Detect non-standard percent encoding'
license3rdParty:
	message: 'Third-Party Copyright Notices'
customCSSButton:
	message: 'Custom CSS...'
customCSSDesc:
	message: 'Custom CSS for extension pages. This can completely change the interface, so proceed with caution.'
save:
	message: 'Save'
byteSymbol:
	message: 'B'
useSiteHandlers:
	message: 'Enable specific behaviors for certain websites'
monitorLinksWithoutRange:
	message: 'Enable prompt for links without multithreading support'
linkWithoutRangeWarning:
	message: 'This download does not support multithreading or resuming.'
simultaneousTasks:
	message: 'Simultaneous download tasks:'
unlimited:
	message: 'Unlimited'
editFileSize:
	message: 'Size:'