extensionName:
	message: '多线程下载管理器'
extensionDescription:
	message: '支持多线程的下载管理器。'
pause:
	message: '暂停'
stop:
	message: '停止'
start:
	message: '开始'
openFileButton:
	message: '打开文件 \nShift：打开所在文件夹'
edit:
	message: '编辑'
copyLinkButton:
	message: '复制下载链接 \nShift：打开引用页'
deleted:
	message: '已删除'
removeButton:
	message: '移除 \nShift：删除文件'
preallocating:
	message: '预分配中'
emptyTasks:
	message: '没有下载任务。'
noStorageAccess:
	message: '无法访问内部存储。'
createDownload:
	message: '新建下载任务'
importDownload:
	message: '从内置下载列表中导入任务'
options:
	message: '选项'
openInNewTab:
	message: '在新标签页中打开'
openInNewWindow:
	message: '在新窗口中打开'
editURL:
	message: '下载地址：'
editURLWarning:
	message: '注意：将下载地址改为不同文件会导致下载损坏。'
editFilename:
	message: '文件名：'
editReferrer:
	message: '引用页：'
maxThreads:
	message: '线程数：'
minChunkSize:
	message: '最小块长：'
maxRetries:
	message: '最多重试：'
OK:
	message: '确定'
cancel:
	message: '取消'
download:
	message: '下载'
continueInBrowser:
	message: '在浏览器中继续'
e_serverError:
	message: '服务器错误'
rangesNotSupported:
	message: '服务器不支持多线程下载 ($1)'
e_networkError:
	message: '网络错误'
e_unknownError:
	message: '未知错误'
showCompleted:
	message: '显示已完成的下载项'
removeAfterImport:
	message: '导入后移除原项目'
downloadWith:
	message: '用 $1 下载'
unsupportedURL:
	message: '不支持此下载地址：$1'
confirmPauseIsStop:
	message: '此下载无法续传。停止下载？'
confirmDeleteFile:
	message: '删除下载的文件？'
confirmRemove:
	message: '移除此项未完成的下载？'
general:
	message: '常规'
saveFileTo:
	message: '保存文件至：'
downloadFolder:
	message: '下载文件夹'
alwaysAsk:
	message: '总是询问'
skipFirstSavingAttempt:
	message: '第一次保存尝试有问题，我希望跳过它。'
workaroundBlankPopup:
	message: '解决扩展窗口空白的问题'
readMore:
	message: '了解更多'
interface:
	message: '界面'
iconColor:
	message: '图标：'
systemDefaultAfterRestart:
	message: '系统默认（重启生效）'
dark:
	message: '暗'
darker:
	message: '更暗'
black:
	message: '黑'
light:
	message: '亮'
lighter:
	message: '更亮'
white:
	message: '白'
altIcon1:
	message: '1'
altIcon2:
	message: '2'
altIcon3:
	message: '3'
altIcon4:
	message: '4'
showOnBadge:
	message: '在扩展图标上显示：'
badgeTypeNone:
	message: '无'
badgeTypeNumber:
	message: '正在下载的任务数'
hideBadgeZero:
	message: '全部下载完成后隐藏图标上的数字'
addContextMenuToLink:
	message: '添加到链接右键菜单：'
windowPosition:
	message: '弹出扩展窗口的位置：'
systemDefault:
	message: '系统默认'
parentCenter:
	message: '居中于当前窗口'
rememberLast:
	message: '记住上次的值'
windowSize:
	message: '弹出扩展窗口的大小：'
newTaskAtTop:
	message: '新任务显示在最上方'
removeCompletedTasksOnStart:
	message: '浏览器启动时清除已完成的任务'
showOptionsInDedicatedTab:
	message: '在单独的标签页中显示扩展选项'
monitorDownload:
	message: '监视下载'
monitorDownloadDesc:
	message: '自动提示下载：'
monitorDownloadMinSize:
	message: '小于此大小时禁用：'
autoCloseBlankTab:
	message: '自动关闭弹出的空白页'
defaultNetworkOptions:
	message: '默认网络选项'
legacyFilenameDetection:
	message: '旧网站的文件名检测'
legacyFilenameDetectUTF8:
	message: '检测 UTF-8'
legacyFilenameDetectURLEncoded:
	message: '检测百分号编码（如 %20）'
legacyFilenameDetectNonStandardURLEncoded:
	message: '检测非标准的百分号编码'
license3rdParty:
	message: '第三方版权声明'
customCSSButton:
	message: '自定义 CSS...'
customCSSDesc:
	message: '为扩展页面设置自定义 CSS。这可以彻底改变扩展界面，请谨慎设置。'
save:
	message: '保存'
byteSymbol:
	message: 'B'
useSiteHandlers:
	message: '启用特定网站的特殊行为'
monitorLinksWithoutRange:
	message: '允许提示不支持多线程下载的链接'
linkWithoutRangeWarning:
	message: '此下载不支持多线程或断点续传。'
simultaneousTasks:
	message: '同时下载任务数：'
unlimited:
	message: '不限制'
editFileSize:
	message: '大小：'
openInSidebar:
	message: '在侧栏中打开'
e_saveFileError:
	message: '保存失败'
e_threadStopped:
	message: '意外终止'
legacyFilenameEncoding:
	message: '旧网站文件名编码：'
address:
	message: '网址'
enterAddress:
	message: '输入下载地址列表。\n支持批量描述符，例如 [1:10:2]'
selectAddressFromList:
	message: '请从列表中选择下载地址。'
invalidAddress:
	message: '下载地址不正确。'
copyAddress:
	message: '复制网址'
filenamePlaceholder:
	message: '输入文件名，子目录名或命名模板'
convert:
	message: '转入'
link:
	message: '链接'
media:
	message: '媒体'
openFile:
	message: '打开文件'
openContainingFolder:
	message: '打开所在文件夹'
copyLink:
	message: '复制下载链接'
openReferrer:
	message: '打开引用页'
remove:
	message: '移除'
deleteFile:
	message: '删除文件'
actionTitleWithShift:
	message: '$1\nShift：$2'
text:
	message: '文本'
pageInaccessibleToExtensions:
	message: '扩展无法访问此页面。'
pageHasBeenClosed:
	message: '此页面已关闭。'
network:
	message: '网络'
advanced:
	message: '高级'
thirdPartyIcons:
	message: '第三方图标'
customColor:
	message: '自定义颜色'
default:
	message: '默认'
customCSS:
	message: '自定义 CSS'
help:
	message: '帮助'
viewLogs:
	message: '查看日志'
rawData:
	message: '原始数据'
i_load:
	message: '从上次会话载入任务 $1'
i_create:
	message: '创建任务 $1'
i_start:
	message: '开始下载 $1'
i_pause:
	message: '暂停任务'
i_queue:
	message: '排队任务'
i_initialConnectionInfo:
	message: '建立初始连接。总大小：$1；多线程支持：$2'
yes:
	message: '是'
no:
	message: '否'
i_initialConnectionAborted:
	message: '初始连接中断'
i_createConnection:
	message: '创建连接，位置：$1'
i_connectionEnded:
	message: '连接终止'
i_save:
	message: '保存文件'
i_completed:
	message: '下载完成'
logLevel:
	message: '日志级别：'
info:
	message: '信息'
warning:
	message: '警告'
error:
	message: '错误'
editDownload:
	message: '编辑下载任务'
networkOptions:
	message: '网络选项'
downloadDirectly:
	message: '直接下载'
askForOptions:
	message: '询问选项'
close:
	message: '关闭'
playSoundOnAllCompleted:
	message: '全部下载完成时播放声音'
showNotificationOnAllCompleted:
	message: '全部下载完成时显示通知'
allDownloadsCompleted:
	message: '全部下载已完成。'
editChecksum:
	message: '校验码：'
e_checksumError:
	message: '校验码错误'
i_checksum:
	message: '校验码：$1 / $2'
connectionAPI:
	message: '连接 API：'
i_api:
	message: '连接 API：$1'
connectionAPIUnavailable:
	message: '不支持所选的连接 API。'
open:
	message: '打开'
monitorDownloadShowBuiltinActions:
	message: '在自动提示中显示内建下载快速操作'
configureOpen:
	message: '配置“打开”'
configureSave:
	message: '配置“保存”'
theme:
	message: '主题：'
e_canceled:
	message: '已取消'
e_sizeError:
	message: '大小错误'
e_timeout:
	message: '超时'
connectionTimeout:
	message: '连接超时：'
transferTimeout:
	message: '传输超时：'
cacheMode:
	message: '缓存模式：'
iconClickAction:
	message: '单击图标时执行操作：'
dynamicMinChunkSize:
	message: '动态最小块长'
contextMenuIconColor:
	message: '右键菜单图标：'
i_reset:
	message: '重置任务'
reset:
	message: '重置'
confirmReset:
	message: '重置此下载？'
clearCompletedTasks:
	message: '清除已完成任务'
customCSSSnippets:
	message: '代码片段'
andAnotherNTasks:
	message: '…… 还有 $1 个任务'
showTooltip:
	message: '在扩展图标上显示工具提示'
addPaused:
	message: '添加暂停'
showAddPaused:
	message: '新建任务时显示“添加暂停”'
openWindowIncognito:
	message: '使用隐私浏览模式打开扩展窗口'
monitorPDFFiles:
	message: '允许提示 PDF 文件'