extensionName:
	message: 'Multithreaded Download Manager'
extensionDescription:
	message: 'Gestionnaire de téléchargements avec support multi-processus.'
pause:
	message: 'Pause'
stop:
	message: 'Stopper'
start:
	message: 'Démarrer'
openFileButton:
	message: 'Ouvrir le fichier \nShift: Ouvrir le dossier conteneur'
edit:
	message: 'Editer'
copyLinkButton:
	message: 'Copier le lien de téléchargement \nShift: Ouvrir la page référente'
deleted:
	message: 'Supprimer'
removeButton:
	message: 'Supprimer \nShift: Supprimer le fichier'
preallocating:
	message: 'Préallouer'
emptyTasks:
	message: "Il n'y a pas de tâche de téléchargement."
noStorageAccess:
	message: "Impossibilité d'accéder au stockage interne."
createDownload:
	message: 'Créer une tâche de téléchargement'
importDownload:
	message: 'Importer des tâches à partir de la liste de téléchargement intégrée'
options:
	message: 'Options'
openInNewTab:
	message: 'Ouvrir dans un nouvel onglet'
openInNewWindow:
	message: 'Ouvrir dans une nouvelle fenêtre'
editURL:
	message: 'Téléchargement:'
editURLWarning:
	message: "Attention: Changer l'emplacement des téléchargements endommagera ses fichiers"
editFilename:
	message: 'Nom de fichier:'
editReferrer:
	message: 'Page de référence:'
maxThreads:
	message: 'Processus de téléchargements:'
minChunkSize:
	message: 'Taille minimale:'
maxRetries:
	message: 'Nombre de tentatives maximums:'
OK:
	message: 'OK'
cancel:
	message: 'Annuler'
download:
	message: 'Télécharger'
continueInBrowser:
	message: 'Continuee dans le navigateur'
e_serverError:
	message: 'Erreure du serveur'
rangesNotSupported:
	message: 'Le serveur ne supporte pas les téléchargements multi-processus ($1)'
e_networkError:
	message: 'Erreur du réseau'
e_unknownError:
	message: 'Erreur inconnue'
showCompleted:
	message: 'Afficher les téléchargés terminés'
removeAfterImport:
	message: "Supprimer les éléments originaux après importation"
downloadWith:
	message: 'Télécharger avec $1'
unsupportedURL:
	message: 'Adresse de téléchargement non-supportée: $1'
confirmPauseIsStop:
	message: 'Ce téléchargement ne peut pas reprendre. Annuler ?'
confirmDeleteFile:
	message: 'Effacer le fichier téléchargé?'
confirmRemove:
	message: 'Effacer le fichier actuellement non-terminé?'
general:
	message: 'Général'
saveFileTo:
	message: 'Enregistrer les fichiers sous:'
downloadFolder:
	message: 'Un fichier de téléchargement'
alwaysAsk:
	message: 'Toujours demander'
skipFirstSavingAttempt:
	message: "La première tentative d'enregistrement était problématique et devrait être sautée"
workaroundBlankPopup:
	message: "Corriger le problème avec les fenêtres d'extension vierges"
readMore:
	message: 'Plus d\'information'
interface:
	message: 'Interface'
iconColor:
	message: 'Icône:'
systemDefaultAfterRestart:
	message: 'Icône Par défaut (Relancer pour appliquer la modification)'
dark:
	message: 'Noir'
darker:
	message: 'Plus fonçé'
black:
	message: 'Noir'
light:
	message: 'Lumineux'
lighter:
	message: 'Plus lumineux'
white:
	message: 'Blanc'
altIcon1:
	message: 'Flêche à fond bleu marine'
altIcon2:
	message: "Flèche à fond noir entourée d'un rond vert"
altIcon3:
	message: 'Flèche à fond bleu fonçé'
altIcon4:
	message: 'Flèche blanche à fond carré vert'
showOnBadge:
	message: "Afficher sur l'icône de l'extension:"
badgeTypeNone:
	message: 'Aucun élément'
badgeTypeNumber:
	message: 'Nombre de téléchargements en cours'
hideBadgeZero:
	message: "Masquer le numéro sur l'icône après que toutes les tâches ait été complétées"
addContextMenuToLink:
	message: 'Ajouter un menu contextuel aux liens:'
windowPosition:
	message: "Position de la fenêtre d'extension:"
systemDefault:
	message: "Réglage par défaut de l'extension"
parentCenter:
	message: 'Centrer la fenêtre'
rememberLast:
	message: 'Se rappeler de la dernière valeur'
windowSize:
	message: "Taille de la fenêtre de l'extension:"
newTaskAtTop:
	message: 'Afficher les nouvelles tâches en haut'
removeCompletedTasksOnStart:
	message: 'Supprimer les tâches terminées au démarrage du navigateur'
showOptionsInDedicatedTab:
	message: 'Afficher la page des paramètres dans un onglet dédié'
monitorDownload:
	message: 'Moniteur de téléchargements'
monitorDownloadDesc:
	message: 'Lancer automatiquement le téléchargement:'
monitorDownloadMinSize:
	message: 'Désactiver pour les fichiers plus petits que:'
autoCloseBlankTab:
	message: "Automatiquement fermer les téléchargements vides lors ce qu'ils sont téléchargés"
defaultNetworkOptions:
	message: 'Options de réseau par défaut'
legacyFilenameDetection:
	message: 'Détection du nom de fichier pour sites approuvés'
# legacyFilenameEncoding:
#	message: ''
legacyFilenameDetectUTF8:
	message: 'Détecter UTF-8'
legacyFilenameDetectURLEncoded:
	message: "Détecter l'encodage du pourcentage (par exemple %20)"
legacyFilenameDetectNonStandardURLEncoded:
	message: "Détecter l'encodage du pourcentage non standard"
license3rdParty:
	message: 'Avis de copyright de tiers'
customCSSButton:
	message: 'CSS personalisé...'
customCSSDesc:
	message: "CSS personalisé pour les pages de l'extension. Celà peut complêtement changer l'interface, procéder sonc avec prudence."
save:
	message: 'Save'
byteSymbol:
	message: 'o'
useSiteHandlers:
	message: 'Activer les comportements spécifiques pour certains sites Web'
monitorLinksWithoutRange:
	message: 'Activer demande pour les liens sans support multi-processus'
linkWithoutRangeWarning:
	message: 'Ce téléchargement ne supporte pas le multi-processus ou la reprise de téléchargement.'
simultaneousTasks:
	message: 'Tâches de téléchargement simultané:'
unlimited:
	message: 'Illimité'
editFileSize:
	message: 'Taille:'
