extensionName:
	message: 'Многопоточный менеджер загрузок'
extensionDescription:
	message: 'Менеджер загрузок с поддержкой многопоточности.'
pause:
	message: 'Приостановить'
stop:
	message: 'Остановить'
start:
	message: 'Запустить'
openFileButton:
	message: 'Открыть файл \nShift: Открыть содержащую папку'
edit:
	message: 'Редактировать'
copyLinkButton:
	message: 'Скопировать ссылку загрузки \nShift: Открыть ссылку на страницу'
deleted:
	message: 'Удалено'
removeButton:
	message: 'Удалить \nShift: Удалить файл'
preallocating:
	message: 'Предварительное распределение'
emptyTasks:
	message: 'Нет скачиваний'
noStorageAccess:
	message: 'Не удаётся получить доступ к внутренней памяти.'
createDownload:
	message: 'Добавить новую загрузку'
importDownload:
	message: 'Импорт задач из встроенного списка загрузки '
options:
	message: 'Параметры'
openInNewTab:
	message: 'Открыть в новой вкладке'
openInNewWindow:
	message: 'Открыть в новом окне'
editURL:
	message: 'Загрузка:'
editURLWarning:
	message: 'Осторожно: Изменение местоположения загрузок на другое место приведёт к его повреждению.'
editFilename:
	message: 'Название файла:'
editReferrer:
	message: 'Ссылка на страницу:'
maxThreads:
	message: 'Потоки:'
minChunkSize:
	message: 'Минимальная доля:'
maxRetries:
	message: 'Максимальное количество повторов:'
OK:
	message: 'OK'
cancel:
	message: 'Отмена'
download:
	message: 'Загрузить'
continueInBrowser:
	message: 'Продолжить в браузере'
browserDownloadError:
	message: 'Не удалось сохранить файл: ($1)'
browserDownloadErased:
	message: 'Сохранение файла было отменено'
threadStopped:
	message: 'Поток загрузки неожиданно остановился'
unsuccessfulResponse:
	message: 'Ошибка сервера ($1 $2)'
rangesNotSupported:
	message: 'Сервер не поддерживает многопоточные загрузки ($1)'
networkError:
	message: 'Ошибка сети'
unknownError:
	message: 'Неизвестная ошибка ($1)'
showCompleted:
	message: 'Показать завершённые пункты загрузки'
removeAfterImport:
	message: 'Удалить исходные элементы после импорта'
downloadWith:
	message: 'Загрузить с $1'
unsupportedURL:
	message: 'Адрес неподдерживаемой загрузки: $1'
confirmPauseIsStop:
	message: 'Эта загрузка не может быть возобновлена. Отменить?'
confirmDeleteFile:
	message: 'Удалить загруженные файлы?'
confirmRemove:
	message: 'Удалить текущую незавершенную загрузку?'
general:
	message: 'Общие'
saveFileTo:
	message: 'Сохранить файл как:'
downloadFolder:
	message: 'Папка загрузки'
alwaysAsk:
	message: 'Всегда спрашивать'
skipFirstSavingAttempt:
	message: 'Первая попытка сохранения была проблематичной и должна быть пропущена'
workaroundBlankPopup:
	message: 'Устранение проблемы с пустыми окнами расширения'
readMore:
	message: 'Подробнее'
interface:
	message: 'Интерфейс'
iconColor:
	message: 'Иконка:'
systemDefaultAfterRestart:
	message: 'Системные установки по умолчанию (Перезапустите, чтобы применить)'
dark:
	message: 'dark'
darker:
	message: 'darker'
black:
	message: 'black'
light:
	message: 'light'
lighter:
	message: 'lighter'
white:
	message: 'white'
altIcon1:
	message: '1'
altIcon2:
	message: '2'
altIcon3:
	message: '3'
altIcon4:
	message: '4'
showOnBadge:
	message: 'Показывать на иконке расширения:'
badgeTypeNone:
	message: 'Ничего'
badgeTypeNumber:
	message: 'Количество начатых загрузок'
hideBadgeZero:
	message: 'Скрыть число на значке после завершения всех загрузок'
addContextMenuToLink:
	message: 'Добавить контекстное меню к ссылкам'
windowPosition:
	message: 'Положение окна расширения:'
systemDefault:
	message: 'системные установки по умолчанию'
parentCenter:
	message: 'центр текущего окна'
rememberLast:
	message: 'запомнить последнее значение'
windowSize:
	message: 'Размер окна расширения:'
newTaskAtTop:
	message: 'Показывать новые загрузки в верхней части'
removeCompletedTasksOnStart:
	message: 'Удалить выполненные загрузки при запуске браузера'
showOptionsInDedicatedTab:
	message: 'Показывать страницу параметров в отдельной вкладке'
monitorDownload:
	message: 'Монитор загрузок'
monitorDownloadDesc:
	message: 'Автоматически запрашивать загрузку'
monitorDownloadMinSize:
	message: 'Отключить для файлов меньше, чем:'
autoCloseBlankTab:
	message: 'Автоматически закрывать пустые вкладки при загрузке'
defaultNetworkOptions:
	message: 'Параметры сети по умолчанию'
legacyFilenameDetection:
	message: 'Определение названия файла для устаревшего веб-сайта'
legacyFilenameEncoding:
	message: 'Кодировка:'
legacyFilenameDetectUTF8:
	message: 'Определить UTF-8'
legacyFilenameDetectURLEncoded:
	message: 'Определить процентное кодирование (например %20)'
legacyFilenameDetectNonStandardURLEncoded:
	message: 'Определить нестандартное процентное кодирование'
license3rdParty:
	message: 'Уведомления об авторских правах третьих сторон'
customCSSButton:
	message: 'Пользовательский стиль (CSS)...'
customCSSDesc:
	message: 'Пользовательский CSS-файл для расширенных страниц. Это может полностью изменить интерфейс, поэтому действуйте с осторожностью.'
save:
	message: 'Сохранить'
byteSymbol:
	message: 'B'
useSiteHandlers:
	message: 'Включить определенное поведение для определенных сайтов'
monitorLinksWithoutRange:
	message: 'Включить подсказку для ссылок без поддержки многопоточности'
linkWithoutRangeWarning:
	message: 'Эта загрузка не поддерживает многопоточность или возобновление.'
simultaneousTasks:
	message: 'Загрузок одновременно:'
unlimited:
	message: 'Без ограничения'
editFileSize:
	message: 'Размер:'
