doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title(data-i18n='extensionName')
		link(rel='stylesheet' href='edit.css')
		link(rel="icon" href="icons/icon.svg")
	body
		form#main-form
			.input-grid
				label
					span(data-i18n='editURL')
					input#url(type='url' required pattern="https?:.+")
				span#url-warning(data-i18n='editURLWarning' hidden)
				span#link-without-range(data-i18n='linkWithoutRangeWarning' hidden)
				label
					span(data-i18n='editFilename')
					input#filename
				label#prompt-file-size-label(hidden)
					span(data-i18n='editFileSize')
					span#prompt-file-size-span
						span#prompt-file-size-value
						span(data-i18n='byteSymbol')
				label
					span(data-i18n='editReferrer')
					input#referrer
				label
					span(data-i18n='maxThreads')
					input#max-threads(type='number' required min='1')
				label
					span(data-i18n='minChunkSize')
					span
						input#min-chunk-size(type='number' required min='0')
						span.input-unit
							span K
							span(data-i18n='byteSymbol')
				label
					span(data-i18n='maxRetries')
					input#max-retries(type='number' required min='0')
			.spacer
			#actions
				button#continue(data-i18n='continueInBrowser' type='button' hidden)
				.spacer
				button#cancel(data-i18n='cancel' type='button')
				button#download(data-i18n='download' type='submit')
		div#clipboard-reader(contentEditable aria-hidden="true" tabIndex='-1')
		script(src='common.js')
		script(src='edit.js')