manifest_version: 2
browser_specific_settings:
	gecko:
		id: 'multithreaded-download-manager@qw.linux-2g64.local'
		strict_min_version: '67.0'
name: '__MSG_extensionName__'
version: '3.2b5'
description: '__MSG_extensionDescription__'
icons:
	'48': 'icons/icon.svg'
permissions: [
	'storage'
	'unlimitedStorage'
	'<all_urls>'
	'downloads'
	'downloads.open'
	'webRequest'
	'webRequestBlocking'
	'clipboardRead'
	'clipboardWrite'
	'menus'
	'menus.overrideContext'
	'notifications'
	'tabs'
]
browser_action:
	default_icon: 'icons/icon-color.svg#dark'
	theme_icons: [{
		light: 'icons/icon-color.svg#light'
		dark: 'icons/icon-color.svg#dark'
		size: 48
	}]
	default_title: '__MSG_extensionName__'
	default_popup: 'panel/panel.html'
	browser_style: false
sidebar_action:
	default_icon: "icons/icon.svg"
	default_title: '__MSG_extensionName__'
	default_panel: 'panel/panel.html'
	open_at_install: false
	browser_style: false
background:
	page: 'background/background.html'
options_ui:
	page: 'options/options.html'
	browser_style: false
default_locale: 'en'