doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title(data-i18n='extensionName')
		link(rel='stylesheet' href='options.css')
		link(rel="icon" href="icons/icon.svg#dark")
	body
		section
			h2(data-i18n='general')
			label.input-label
				span(data-i18n='saveFileTo')
				select(data-key='saveFileTo')
					option(value='systemDefault' data-i18n='systemDefault')
					option(value='downloadFolder' data-i18n='downloadFolder')
					option(value='alwaysAsk' data-i18n='alwaysAsk')
			label.input-label
				input(type='checkbox' data-key='skipFirstSavingAttempt')
				span(data-i18n='skipFirstSavingAttempt')
				a(data-i18n='readMore' href='https://github.com/jingyu9575/multithreaded-download-manager/wiki/Problems-with-disabling-the-feature-%22out-of-process-extensions%22')
			label.input-label
				input(type='checkbox' data-key='workaroundBlankPopup')
				span(data-i18n='workaroundBlankPopup')
				a(data-i18n='readMore' href='https://github.com/jingyu9575/multithreaded-download-manager/wiki/Problems-with-disabling-the-feature-%22out-of-process-extensions%22')
		section
			h2(data-i18n='interface')
			label.input-label
				span(data-i18n='iconColor')
				select(data-key='iconColor')
					option(value='default' data-i18n='systemDefaultAfterRestart')
					option(value='dark' data-i18n='dark')
					option(value='darker' data-i18n='darker')
					option(value='black' data-i18n='black')
					option(value='light' data-i18n='light')
					option(value='lighter' data-i18n='lighter')
					option(value='white' data-i18n='white')
					option(value='alt-1') 1
					option(value='alt-2') 2
					option(value='alt-3') 3
					option(value='alt-4') 4
			label.input-label
				span(data-i18n='showOnBadge')
				select(data-key='badgeType')
					option(value='none' data-i18n='badgeTypeNone')
					option(value='number' data-i18n='badgeTypeNumber')
			label.input-label
				input(type='checkbox' data-key='hideBadgeZero')
				span(data-i18n='hideBadgeZero')
			label.input-label
				input(type='checkbox' data-key='addContextMenuToLink')
				span(data-i18n='addContextMenuToLink')
			label.input-label
				span(data-i18n='windowPosition')
				select(data-key='windowPosition')
					option(value='default' data-i18n='systemDefault')
					option(value='parentCenter' data-i18n='parentCenter')
					option(value='remember' data-i18n='rememberLast')
			label.input-label
				span(data-i18n='windowSize')
				select(data-key='windowSize')
					option(value='500x300') 500&times;300
					option(value='remember' data-i18n='rememberLast')
			label.input-label
				input(type='checkbox' data-key='newTaskAtTop')
				span(data-i18n='newTaskAtTop')
			label.input-label
				input(type='checkbox' data-key='removeCompletedTasksOnStart')
				span(data-i18n='removeCompletedTasksOnStart')
		section
			h2(data-i18n='monitorDownload')
			label.input-label
				input(type='checkbox' data-key='monitorDownload')
				span(data-i18n='monitorDownloadDesc')
			label.input-label
				span(data-i18n='monitorDownloadMinSize')
				input(data-key='monitorDownloadMinSize' type='number' required min='0')
				span.input-unit KB
			label.input-label
				input(type='checkbox' data-key='autoCloseBlankTab')
				span(data-i18n='autoCloseBlankTab')
		section
			h2(data-i18n='defaultNetworkOptions')
			.input-grid
				label
					span(data-i18n='maxThreads')
					input(data-key='maxThreads' type='number' required min='1')
				label
					span(data-i18n='minChunkSize')
					span
						input(data-key='minChunkSize' type='number' required min='0')
						span.input-unit KB
				label
					span(data-i18n='maxRetries')
					input(data-key='maxRetries' type='number' required min='0')
		section
			h2(data-i18n='legacyFilenameDetection')
			label.input-label
				span(data-i18n='legacyFilenameEncoding')
				input(data-key='legacyFilenameEncoding')
			label.input-label
				input(type='checkbox' data-key='legacyFilenameDetectUTF8')
				span(data-i18n='legacyFilenameDetectUTF8')
			label.input-label
				input(type='checkbox' data-key='legacyFilenameDetectURLEncoded')
				span(data-i18n='legacyFilenameDetectURLEncoded')
		p
			a(target="_blank" href="LICENSE-3RD-PARTY.txt" data-i18n="license3rdParty")
		script(src='common.js')
		script(src='options.js')